*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#000 ;
    font-family: Arial, Helvetica, sans-serif;

}
.sidebar{
    width: 300px;
    background: #030303;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10PX;
}
.sidebar-nav{
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
margin-bottom:15px ;
}
.sidebar-nav .logo{
    width: 130px;
}
.sidebar-nav .logo img{
    width: 100%;

}
.sidebar-nav ul{
    list-style: none;

}
.sidebar-nav ul li{
    padding: 10px 20px;
    
}
.sidebar-nav ul li a:hover{
    color: #fff;
    
}
.sidebar-nav ul li a{
    text-decoration:none ;
    color:#b3b3b3 ;
    font-size: 15px;
    font-weight:600 ;
    
}
.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right:10px ;
}
.library::after{
    content: "+";
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}
.create-playlist{
    background:#302f2f;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom:10px ;
}
.sidebar-scroll{
height: 120px;
overflow: auto;
}
.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
    }
.sidebar-scroll::-webkit-scrollbar-thumb{
        background:transparent ;
        width: 10px;
        }
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
            background:#5c5b5b ;
            width: 5px;
}
.create-playlist h4{
             color: #fff;
             font-size: 15px;   
 }
.create-playlist p{
                color: #fff;
                font-size: 12px;  
                margin: 12px 0; 
}
.create-playlist button{
                 padding: 8px 15px;
                 border: 0;
                 outline: 0;
                 border-radius: 20px;
                 font-weight: 600;
                 margin-bottom: 10px;
} 
.privacy ul li a {
text-decoration: none;
color: #565757;
font-size: 12.5px;
font-weight: 600;
margin: 0 6px;
}
.privacy ul li a:hover {
    text-decoration: underline;
    color: #bebcbc;
    }
.privacy ul{
    list-style: none;
    margin-top: 0px;
}
.privacy ul li{
    padding: 0 12px;
    padding-bottom:8px ;
}
.eng-btn{
    padding: 40px 60px;
}
.eng-btn button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline:none ;
    color: #ffffff;
    border:1px solid #818080 ;
border-radius: 20px;
margin: 10px 0;

}
.eng-btn button:hover{
    padding: 11px 31px;
    border: 1px solid black;
    background-color: #1bd954;
    color: #030303;
}
.eng-btn{
color: #dbdada;
}
.main-section{
    margin-left: 300px;
    background: #181818;
    height: 100vh;
    overflow: auto;
}
.main-section .top-nav{
    padding: 20px 30px;
    background: #131212;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section .top-nav button {
    background:transparent ;
    border: 0;
    outline: 0;
}
.main-section .top-nav .pre-btn button i{
    color: #838181;
    font-size: 22px;
    margin-right: 20px;
}
.main-section .top-nav .pre-btn button i:hover{
    color: white;
}

.top-nav .login-btn .Sign-up{
   color: #838181; 
font-size: 16px;
font-weight: 600;
margin-right: 25px;
}
.top-nav .login-btn .Sign-up:hover{
    color: #fff;

}
.top-nav .login-btn .Log-in{
    color: #252424; 
font-size: 16px;
font-weight: 600;
  background: #ffffff;  
  padding:10px 15px ;
  border-radius: 20px;
}
.top-nav .login-btn .Log-in:hover{
    background: #818080;


}
.spotify-playlist{
    padding:20px 40px ;
}
.spotify-playlist h4{
    color: #fff;
    font-size: 22px;
    margin-bottom:20px ;
}
.spotify-playlist .card{
   display: flex; 
   gap: 15px;
   overflow: hidden;
}
.spotify-playlist .card .item{
    width: 190px;
    min-width: 140px;
    /* background-color: #272626; */
    cursor: pointer;
    border-radius:6px ;
    padding: 10px;
}
.spotify-playlist .card .item:hover{
   background-color: #3a3838;
}
.spotify-playlist .card .item img{
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
}
.item h4:hover{
    text-decoration: underline rgb(131, 219, 131);

}

.spotify-playlist .item h4{
    color: #fff;
}
.spotify-playlist .item p{
    color: #8f8e8e;
    font-size: 13px;
margin-top: 10px;
}
.spotify-playlist .item p:hover{
    text-decoration: underline;
}
.spotify-playlist .play-btn{
    position: relative;
    left: 25px;
    top: 0;
    /* transition: transform ease 0.5s; */
    
}
.spotify-playlist .play-btn i{
    position: absolute;
    background: #1bd954;
    border-radius: 50%;
    padding:8px 10px ;
    right: 8px;
    top: -40px;
    opacity:0 ;
    /* transform: 0.3s ease all; */
    /* transition: top ease 0.5s; */
}
/* .spotify-playlist .play-btn i:hover{

} */
.spotify-playlist h2{
    color: #ffffff;
    padding-bottom: 10px;
   
}
.spotify-playlist h2:hover{
    text-decoration: underline;
}
.spotify-playlist .card .item:hover .play-btn i{
opacity: 1;
transform: translate(-20px);
}
.footer-section{
padding: 20px 40px;
}
.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-section .footer .footer-links .footer-column{
    margin: 0 12px;

}
.footer-section .footer .footer-links div{
color: #fff;
font-weight: 600;
margin-bottom:12px ;
font-size: 16px;
}
.footer-section .footer .footer-links ul li{
    list-style: none;
    margin: 6px 0;
}
.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;
}
.footer-section .footer .footer-links ul li a:hover{
    text-decoration: underline;
    color: #fff;

}
.footer .social-links i{
    color: #fff;
    background: #353434;
    padding: 12px;
    border-radius: 50%;
    margin:0 5px;
    cursor: pointer;
}
.footer .social-links i:hover{
    background: #636262;
}
hr{
    margin: 30px 50px; 
    border: 0;
    outline: 0;
    border: 1px solid #575656;
    margin-top: 100px;
}
.copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 100px;
}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding:8px 30px ;
}
.preview h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.preview p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.preview button{
   padding: 12px 30px; 
   border: 0;
   outline: 0;
   border-radius: 20px;
font-size: 14px;
font-weight: 600;
color: #000;
}